@import 'config';
@import 'utilities';
@import 'form';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  border-bottom: 1px solid $primary-color;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;

  ul {
    display: flex;
  }

  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
      color: $primary-color;
    }
  }
}

// Landing
.landing {
  position: relative;
  background: url(../img/showcase.jpg) no-repeat center center/cover;
  height: 100vh;

  &-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    text-align: center;
  }
}

// Profiles Page
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.profile-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    'top top'
    'about about'
    'experiences education'
    'github github';

  .profile {
    &-top {
      grid-area: top;
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        color: #fff;
        margin: 0 1rem;
      }

      img {
        width: 250px;
      }
    }

    &-about {
      grid-area: about;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 1.8;

      .skills {
        display: flex;
      }
    }

    &-experience {
      grid-area: experiences;

      div {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px dotted #ccc;

        h3 {
          margin: 0.5rem 0;
        }

        p {
          margin: 0.5rem 0;
        }
      }
    }

    &-education {
      grid-area: education;

      div {
        border-bottom: 1px dotted #ccc;
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        * {
          margin: 0.5rem 0;
        }
      }
    }

    &-github {
      grid-area: github;

      .repo {
        display: grid;
        grid-template-columns: 6fr 2fr;

        .badge {
          margin: 0.5rem 0;
          padding: 0.3rem;
          text-align: center;
          font-size: 0.8rem;
        }
      }
    }
  }
}

// Posts Page
.post-form-header {
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;

  & > div:first-child {
    text-align: center;
  }

  img {
    width: 150px;
  }
}

@import 'mobile';
